.navbar {
    margin-left: auto;
    overflow: hidden;
    background-color: rgb(52, 119, 219);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    vertical-align: middle;
}

.navbar a {
    float: left;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.home {
    float: left;
    overflow: hidden;
}
.home .homebtn {
    background-color: rgb(52, 119, 219);
    font-size: 22px;    
    border: none;
    outline: none;
    color: white;
    padding: 12px 12px;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn {
    background-color: rgb(52, 119, 219);
    font-size: 22px;    
    border: none;
    outline: none;
    color: white;
    padding: 12px 12px;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color:  #5dae70;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.smlinks{
       text-align: center;
}
.w3-third{
    font-family: 'Roboto Condensed', sans-serif;
}

.lan2read
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:33px;
}
.tdltypes
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:25px;
    background-color: rgb(52, 119, 219);
}
.lan2read2
{
    font-family: 'Comfortaa', cursive;
    font-size:17px;
}
.useful_reading
{
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}

.cay
{
    position: relative;
    text-align: right;
    right: 51%;
    margin-top:-15px;
}

.cax
{
    position: relative;
    text-align: left;
    left:51%;
    margin-top:-40px;
}

  

